@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: white;
    font-family: Poppins, sans-serif;
}

#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 9999;
    background-color: #ffff;
    animation: anim2 2s cubic-bezier(0.19, 1, 0.22, 1) 7s both ;
}
#wrapperload{
    width: 500px;
    height: 100px;
    /* background-color: #efefef; */
    overflow: hidden;
}
#wrapperload .elem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    background-color: #fff;
}
.elem h3{
    font-weight: 100;
}
.elem h2{
    color: #EB4600;
}
#wrapperload .elem:nth-child(1){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}
#wrapperload .elem:nth-child(2){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 2s both;
}
#wrapperload .elem:nth-child(3){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
}
#wrapperload .elem:nth-child(4){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 4s both;
}
@keyframes anim{
    to{
        margin-top: -100px;
    }
}
@keyframes anim2{
    to{
        transform: translateY(-100%);
    }
}

nav{
    width: 100vw;
    height: 10%;
   /*  background-color: white; */
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 70px;
    position: fixed;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100%;
    text-align: center;
    /* margin: auto; */
}
li{
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: 18px;
}
nav img{
    margin: 15px 0px;
    width: 39px;
    height: 60px;
}
.line{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
} 
.hamburger{
    cursor: pointer;
    display: none;
    transition: all 0.3s ease;
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinksFade{
     from{
         opacity: 0;
         transform: translateX(50px);
     }
     to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
.hero-section{
    background-image: linear-gradient(
        to right,
    rgb(255, 255, 255) 56%,
     rgba(237, 9, 9, 0.29) 44%) ;
     height: 100vh;
     width: 100vw;
     overflow: hidden;
}
.content{
    height: 90%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
}
.center img{
    height: 1200px;
    width: 900px;
}
.center{
    margin-top: 330px;
}
.bottom{
    display: none;
}
.leftpart{
    text-align: left;
}
.leftpart h1{
    width: 280px;
    padding: 0;
    font-size: 40px;
    padding-bottom: 20px;
    color:rgb(235, 70, 0, 0.79) ;
}
.leftpart h3{
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: 100;
}
.rightpart{
    margin-top: 300px;
    margin-right: 150px;
}
.rightpart h4{
    text-align: center;
   font-size: 18px;
   width:200px;
   color: rgba(0, 0, 0, 0.8);
}
.viewwork{
    background-image: linear-gradient(rgba(236, 9, 9, 0.72), rgba(235, 70, 0, 0.79));
    opacity: 80%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 20px;
    border-radius: 25px;
}


#services{
    height: 100vh;
    
}
.services-total {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.skill{
    margin-top: 0;
    margin-right: 50px;
    width: 500px ;
    height: 600px;
    background-color: white;
    border-radius: 20px 0 ;
    border: 1px solid rgba(229, 229, 229, 0.322) ;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.103) ;
}
.skill img{
    width: 60px;
    height: 60px;
    margin: 10% 0 6%;
    margin-left: 210px;
}
.content1{
    text-align: center;
}
.content1 span{
    font-size: 18px;
}
.content1 .topic{
    color: rgba(235, 71, 0, 0.83);
    font-weight: 600;
}
.devskill{
    margin-top: 100px;
}
#services .heading, #portfolio .heading, #contact .heading{
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
  /*   height: 20%; */
}

#portfolio{
    margin-top: 150px;
    height: 100vh;
}
#portfolio .fe{
    color: rgba(237, 9, 9, 0.2);
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 0px;
}
.project1, .project2, .project3{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 60px 200px;
}
.pro img{
    width: 450px;
    height: 300px;
    padding-right: 50px;
}
.procontent{
    font-size: 16px;
}
.procontent p{
    font-weight: 600;
    font-size: 18px;
}
#portfolio .viewwork{
    font-size: 14px;
    padding: 15px 40px;
    border-radius: 25px;
    margin-top: 15px;
}
.viewmore{
   border: 1.3px solid #EB4600;
    color: rgba(235, 71, 0, 0.79);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    border-radius: 25px;
}
.viewmore:hover{
    cursor: pointer;
    background-image: linear-gradient(rgba(236, 9, 9, 0.72), 
    rgba(235, 70, 0, 0.79));
    color: white;
    opacity: 80%;
}
.overallbox img{
    width: 400px;
    height: 292px;
    margin: 0 25px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}
.box1, .box2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.extrabox{ display: none;}

#contact{
    margin-top: 1460px;
    font-family: poppins, sans-serif;
}
.funfact{
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(237, 9, 9, 0.08);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 15px;
    height: 200px;
    text-align: center;
    font-weight: 100;
}
.funfact p{
    font-weight: 600;
    padding-bottom: 20px;
}
.getintouch{
   margin: 0 570px;
    justify-content: center;
    align-items: center;
}
.getintouch input{
    border: 1px solid rgba(196, 196, 196, 0.82);
    border-radius: 10px;
    margin-bottom: 50px;
}
.getintouch label{
    font-weight: 400;
    margin-bottom: 60px ;
}
.getintouch #email{
    width: 394px;
    height: 50px;
}
.getintouch #message{
    width: 394px;
    height: 200px;
}
.getintouch .viewwork{
    margin: 0 140px;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 16px;
}
.socialicons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialicons img{
    width: 30px;
    height: 30px;
    margin: 50px auto;
}
#footer{
    width: 100vw;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000e8;
    background-color: #e5e5e5;
}
#footer.p{
    text-align: center;
    margin: 0 auto;
}


@media screen and (max-width: 768px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
       overflow-x: hidden;
    }
    nav{
        padding: 5px 30px;
    }
   .nav-list{
       position: absolute;
       right: 0px;
       width: 50%;
       height: 90vh;
       top: 10vh;
       background-color: rgb(250 184 184);;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: none;
   }
   .nav-list.nav-active {
       transform: translateX(0);
       display: flex;
   }
   .nav-list li{
       opacity: 0;
   }
   .scrolling-active{
    background-color: white;
    box-shadow: 0 3px1 rem rgba(0,0,0,.1);
   }
   
   .hamburger{
       display: block;
   }
   .content{
    flex-direction: column;
    height: 90%;
   /*  margin: 30px 0px; */
   padding: 10px;
   margin: 0px 30px;
}
.hero-section{
    background-image: linear-gradient(rgb(255, 255, 255) 50%,rgba(237, 9, 9, 0.29) 50%) rgb(255, 255, 255) 50%;
    height: 100vh;
    overflow: hidden;
}
.center img{
    height: 650px;
    width: 600px;
}
.center{
    margin-top: 0px; 
    display: flex;
    flex-direction: column;
}
.leftpart, .rightpart{
    display: none;
}
.bottom{
    display: block;
    margin: 6.8% 80px;
    text-align: left;
    font-size: 14px;
    padding-top: 15px;
}
.bottom .dev, .design{
font-weight: lighter;
padding: 5px 0px;
font-size: 18px;
}
.bottom span{
    padding: 5px 0;
    font-weight: 100;
}
.bottom h1{
    font-size: 35px;
    color:rgb(235, 70, 0, 0.79) ;
    padding: 8px 0px;
}


.services-total {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    margin-top: 70px;
}
.skill{
    margin: 0 auto;
    width: 80% ;
    height: 800px;
    padding: 30px;
}
.skill img{
    margin: 10px auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.uiskill img{
    width: 30px;
    height: 30px;
}
.devskill img{
    width: 38px;
    height: 30px;
}
.content1{
    text-align: center;
}
.content1 span{
    font-size: 14px;
}
.content1 .topic{
    color: rgba(235, 71, 0, 0.83);
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
}
.devskill{
    margin-top: 30px;
}
#services .heading, #portfolio .heading, #contact .heading{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
  /*   height: 20%; */
}

#portfolio{
    margin-top: 200px;
   /*  margin: 0; */
}
#portfolio .fe{
    margin-top: 0px;
    margin-bottom: 30px;
}
.project1, .project2, .project3{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   align-items: center;
/*    margin: 60px auto; */
}
.pro img{
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0px auto;
    margin-bottom: 30px;
}
.procontent{
    display: none;
    font-size: 14px;
  text-align:center;
}
.procontent p{
    font-weight: 600;
    font-size: 16px;
}
#portfolio .viewwork{
    font-size: 12px;
    /* padding: 15px 40px; */
    border-radius: 25px;
    margin-top: 15px;
}
.design{
    margin-top: 50px;
}
.viewmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
}
.overallbox{
    display: none;
}
.extrabox{
    display: block;
}
.extrabox img{
    width: 200px;
    height: 146px;
    margin: 0 15px;
}
.EB1, .EB2, .EB3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
#contact{
    margin-top: 850px;
}
.funfact{
    padding: 0 50px;
    height: 200px;
    font-size: 14px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.funfact p{
    font-size: 18px;
    padding-bottom: 12px;
}
.funfact span{
    text-align: center;
    font-size: 14px;
}
.getintouch{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}
.getintouch input{
    font-size: 14px;
    padding: 15px ;
}
.getintouch label{
    font-weight: 400;
    margin-bottom: 80px ;
    font-size: 14px;
}
.getintouch .viewwork{
    margin: 0 140px;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 14px;
}
.socialicons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
}
.socialicons img{
    width: 20px;
    height: 20px;
    margin: 0 25px;
}
#footer{
    font-size: 14px;
}
}


@media screen and (max-width: 468px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body{
        overflow-x: hidden;
        width: 100%;
    }
    nav{
        padding: 5px 30px;
    }
  .nav-list{
       position: absolute;
       right: 0px;
       width: 44%;
       height: 100vh;
       justify-content: space-around;
  }
       /* top: 5vh; */
     /*   background-color: rgb(250 184 184);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: none;
   } */ 
   .nav-list.nav-active {
       transform: translateX(0);
       display: flex;
   }
   .nav-list li{
       opacity: 0;
   }
   .scrolling-active{
    background-color: white;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
   }
   .hamburger{
       display: block;
   }
   .line{
  /*   width: 34px;
    height: 1.5px; */
    background-color: #fff;
} 
.hero-section{
    background-image: linear-gradient(rgb(255, 255, 255) 50%,rgba(237, 9, 9, 0.29) 50%) rgb(255, 255, 255) 50%;
    height: 100%;
    overflow: hidden;
}
.center img{
    height: 350px;
    width: 300px;
}
.center{
    margin-top: 0px; 
    display: flex;
    flex-direction: column;
}
.leftpart, .rightpart{
    display: none;
}
.bottom{
    display: block;
    height: 60%;
    margin: 6% 0px;
    text-align: left;
    font-size: 12px;
    padding-top: 15px;
}
.bottom .dev, .design{
font-weight: lighter;
padding: 5px 0px;
font-size: 10px;
}
.bottom span{
    padding: 5px 0;
    font-weight: 100;
}
.bottom h1{
    font-size: 18px;
    color:rgb(235, 70, 0, 0.79) ;
    padding: 8px 0px;
}

.services-total {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    margin-top: 70px;
}
.skill{
    margin: 0 auto;
    width: 80% ;
    height: 800px;
    padding: 30px;
}
.skill img{
    margin: 10px auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.uiskill img{
    width: 30px;
    height: 30px;
}
.devskill img{
    width: 38px;
    height: 30px;
}
.content1{
    text-align: center;
}
.content1 span{
    font-size: 14px;
}
.content1 .topic{
    color: rgba(235, 71, 0, 0.83);
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
}
.devskill{
    margin-top: 30px;
}
#services .heading, #portfolio .heading, #contact .heading{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
  /*   height: 20%; */
}

#portfolio{
    margin-top: 200px;
   /*  margin: 0; */
}
#portfolio .fe{
    margin-top: 0px;
    margin-bottom: 30px;
}
.project1, .project2, .project3{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   align-items: center;
/*    margin: 60px auto; */
}
.pro img{
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0px auto;
    margin-bottom: 30px;
}
.procontent{
    display: none;
    font-size: 14px;
  text-align:center;
}
.procontent p{
    font-weight: 600;
    font-size: 16px;
}
#portfolio .viewwork{
    font-size: 12px;
    /* padding: 15px 40px; */
    border-radius: 25px;
    margin-top: 15px;
}
.design{
    margin-top: 50px;
}
.viewmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
}
.overallbox{
    display: none;
}
.extrabox{
    display: block;
}
.extrabox img{
    width: 30%;
    height: 30%;
    margin: 0 15px;
}
.EB1, .EB2, .EB3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
#contact{
    margin-top: 600px;
    width: 100%;
}
.funfact{
    padding: 0 50px;
    height: 30%;
    width: 100%;
    font-size: 14px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.funfact p{
    font-size: 18px;
    padding-bottom: 12px;
}
.funfact span{
    text-align: center;
    font-size: 14px;
}
.getintouch{
   margin: 0 5%;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}
.getintouch input{
    font-size: 12px;
    padding: 10px ;
}
.getintouch label{
    font-weight: 400;
    margin-bottom: 80px ;
    font-size: 14px;
}
.getintouch #email{
    width: 100%;
    height: 50px;
}
.getintouch #message{
    width: 100%;
    height: 200px;
}
.getintouch .viewwork{
    margin: 0 140px;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 14px;
}
.socialicons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
}
.socialicons img{
    width: 20px;
    height: 20px;
    margin: 0 25px;
}
#footer{
    font-size: 14px;
}
}

